<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Search Author</h1>
        <form action="/authors" method="GET">      
             <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" name="name"  aria-describedby="emailHelp" value="<%= searchOpt.name %>">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
 
     
     <br>
     <% authors.forEach(author => { %>
        <div><% author.name%></div>
         
     <%})%>
      </div>
    </body>